<%- include("./partials/header.ejs"); -%>
<div class="container-fluid jumbotron">
  <h1><b>Node Authentication</b></h1>

  <br />

  <a class="btn btn-primary mr-2" href="/facebook">
    <i class="fa fa-facebook-official" aria-hidden="true"></i> Continue with
    Facebook
  </a>

  <a class="btn btn-danger" href="/google">
    <i class="fa fa-google" aria-hidden="true"></i> Continue with Google
  </a>
</div>
<%- include("./partials/footer.ejs"); -%>
